body {
      font-family: 'Open Sans Condensed', sans-serif;
      background-color: white;
}

.menu {
      list-style-type: none;
      margin-top: 0;
      padding: 0;
      overflow: hidden;
}

li {
      float: left;
}

li a {
      display: block;
      color: #353839;
      text-align: center;
      padding: 16px;
      text-decoration: none;
}

.header {
      color: #353839;
      text-align: center;
      padding: 5px;
      height: 30px;
      font-size: 10px;
}

.card-body {
      color: white;
      background-color: #353839;
      border: none;
}

.arrivals {
      padding: 30px;
}

.card-arrivals img {
      background-color: #e3e3e3;
      padding: 20px;
}

.container-requisitos {
      margin: 0 auto;
      padding-left: 50px;
      padding-right: 50px;
}

.gallery {
      padding: 30px;
}

.card-gallery img {
      background-color: #e3e3e3;
      padding: 20px;
}

.gallery .card {
      margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
      .main-container {
            width: 960px;
            margin: 0 auto;
      }
}